@model IndexDeploymentModel;
@{
    ViewData["Title"] = "Home Page";
}

@*https://codepen.io/vmz/pen/GpKbjm*@
<!-- Vertical, flat -->
<div class="container vertical flat">
    <h4>Azure DevOps - SamLearnsAzure.CI</h4>
    @foreach (DevOpsMetrics.Service.Models.AzureDevOpsBuild item in Model.AZList)
    {
        <div class="progress-bar">
            @if (item.status == "completed")
            {
                <div class="progress-track success" title="Build @item.status at @item.finishTime.ToString("h:mm:ss tt dd-MMM-yyyy")">
                    <div class="progress-fill success">
                        <span style="color:transparent;">100%</span>
                    </div>
                </div>
            }
            else
            {
                <div class="progress-track failure" title="Build @item.status at @item.finishTime.ToString("h:mm:ss tt dd-MMM-yyyy")">
                    <div class="progress-fill failure">
                        <span style="color:transparent;">80%</span>
                    </div>
                </div>
            }
        </div>
    }
</div>
<div style="margin-left: 20px; padding-left: 20px;">
    <b>Deployment frequency (deployments per day):</b> @Model.AZDeploymentFrequency.ToString("0.00")<br />
    <b>Deployment rating:</b> @Model.AZDeploymentFrequencyText
</div>

<div class="container vertical flat">
    <h4>GitHub - SamsFeatureFlags.CI</h4>
    @foreach (DevOpsMetrics.Service.Models.GitHubActionsRun item in Model.GHList)
    {
        <div class="progress-bar">
            @if (item.status == "completed")
            {
                <div class="progress-track success" title="Build @item.status at @item.updated_at.ToString("h:mm:ss tt dd-MMM-yyyy")">
                    <div class="progress-fill success">
                        <span style="color:transparent;">100%</span>
                    </div>
                </div>
            }
            else
            {
                <div class="progress-track failure" title="Build @item.status at @item.updated_at.ToString("h:mm:ss tt dd-MMM-yyyy")">
                    <div class="progress-fill failure">
                        <span style="color:transparent;">80%</span>
                    </div>
                </div>
            }
        </div>
    }
</div>
<div style="margin-left: 20px; padding-left: 20px;">
    <b>Deployment frequency (deployments per day):</b> @Model.GHDeploymentFrequency.ToString("0.00")<br />
    <b>Deployment rating:</b> @Model.GHDeploymentFrequencyText
</div>
