@using DevOpsMetrics.Service.Models.Common 
@model LeadTimeForChangesPartialViewModel

<div class="chartContainer vertical flat">
    <h4><img src="~/images/AzureDevops-icon.png" style="width:32px;" />&nbsp; Azure DevOps - @Model.ProjectName</h4>
    @foreach (LeadTimeForChangesModel item in Model.AzureDevOpsList)
    {
        <a href="https://github.com/samsmithnz" target="_blank">
            <div class="progress-bar">
                <div class="progress-track" title="PR #@item.PullRequestId branch @item.Branch had @item.Commits.Count commits over @item.Duration.TotalHours.ToString("0.0") hours">
                    <div class="progress-fill inProgress">
                        <span>@item.DurationPercent.ToString("0")%</span>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<br />
<div class="metricSpan">
    <b>Lead time for changes:</b> @Model.AverageDuration.ToString("0.0") hours<br />
    <b>Lead time for changes ranking:</b> @Model.AverageDurationRating
</div>

@*<div>
        <h4><img src="~/images/AzureDevops-icon.png" style="width:32px;" />&nbsp; Azure DevOps - @Model.ProjectName</h4>
        @foreach (LeadTimeForChangesModel item in Model.LeadTimeForChangesList)
        {
            <div class="metricSpan">
                <b>Branch:</b> @item.Branch<br />
                <b>Lead time for changes:</b> @item.Duration.TotalHours hours<br />
                <b>Lead time for changes ranking:</b> ????
            </div>
        }
    </div>
    <br />*@