@model DeploymentPartialViewModel

<div class="chartContainer vertical flat">
    <h4><img src="~/images/AzureDevops-icon.png" style="width:32px;" />&nbsp; Azure DevOps - @Model.DeploymentName</h4>
    @foreach (DevOpsMetrics.Service.Models.AzureDevOpsBuild item in Model.AzureDevOpsList)
    {
        <a href="@item.url" target="_blank">
            <div class="progress-bar">
                <div class="progress-track" title="Build @item.id @item.status @item.timeSinceBuildCompleted (ran for @item.buildDurationInMinutesAndSeconds)">
                    <div class="progress-fill @item.status">
                        <span>@item.buildDurationPercent%</span>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<br />
<div class="metricSpan">
    <b>Deployment frequency:</b> @Model.AzureDevOpsDeploymentFrequency.DeploymentsPerDay.ToString("0.00") per day (last 7 days)<br />
    <b>Deployment frequency ranking:</b> @Model.AzureDevOpsDeploymentFrequency.DeploymentsPerDayDescription
</div>