@using DevOpsMetrics.Service.Models.Common
@model DeploymentFrequencyModel

@{
    string widgetImageName = "";
    string widgetName = "";
    if (Model.IsAzureDevOps == true)
    {
        widgetImageName = "AzureDevops-icon.png";
        widgetName = "Azure DevOps";
    }
    else
    {
        widgetImageName = "GitHub-icon.png";
        widgetName = "GitHub";
    }
}

<div class="chartContainer vertical flat">
    <h4><img src="~/images/@widgetImageName" style="width:32px;" />&nbsp; @widgetName - @Model.DeploymentName</h4>
    @foreach (Build item in Model.BuildList)
    {
        <a href="@item.Url" target="_blank">
            <div class="progress-bar">
                <div class="progress-track" title="Build @item.Id @item.Status @item.TimeSinceBuildCompleted (ran for @item.BuildDurationInMinutesAndSeconds)">
                    <div class="progress-fill @item.Status">
                        <span>@item.BuildDurationPercent%</span>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
<br />
<div class="metricSpan">
    @{
        float dailyDeployment = 1f;
        float weeklyDeployment = 1f / 7f;
        float monthlyDeployment = 1f / 30f;

        float deploymentsPerDayAdjusted = 0f;
        string deploymentsPerDayUnit = "";
        if (Model.DeploymentsPerDayMetric > dailyDeployment) //NOTE: Does not capture on-demand deployments
        {
            deploymentsPerDayAdjusted = Model.DeploymentsPerDayMetric;
            deploymentsPerDayUnit = "per day";
        }
        else if (Model.DeploymentsPerDayMetric <= dailyDeployment && Model.DeploymentsPerDayMetric >= weeklyDeployment)
        {
            deploymentsPerDayAdjusted = Model.DeploymentsPerDayMetric * 7;
            deploymentsPerDayUnit = "times per week";
        }
        else if (Model.DeploymentsPerDayMetric < weeklyDeployment && Model.DeploymentsPerDayMetric >= monthlyDeployment)
        {
            deploymentsPerDayAdjusted = Model.DeploymentsPerDayMetric * 30;
            deploymentsPerDayUnit = "times per month";
        }
        else if (Model.DeploymentsPerDayMetric < monthlyDeployment)
        {
            deploymentsPerDayAdjusted = Model.DeploymentsPerDayMetric * 30;
            deploymentsPerDayUnit = "times per month";
        }
    }
    @*<b>Deployment frequency:</b> @Model.DeploymentsPerDayMetric.ToString("0.00") per day (last 30 days)<br />*@
    <b>Deployment frequency:</b> @deploymentsPerDayAdjusted.ToString("0.00") @deploymentsPerDayUnit (last 30 days)<br />
    <b>Deployment frequency ranking:</b> @Model.DeploymentsPerDayMetricDescription
</div>