@using DevOpsMetrics.Service.Models.Common
@model LeadTimeForChangesModel

@{
    string widgetImageName = "";
    string widgetName = "";
    if (Model.IsAzureDevOps == true)
    {
        widgetImageName = "AzureDevops-icon.png";
        widgetName = "Azure DevOps";
    }
    else
    {
        widgetImageName = "GitHub-icon.png";
        widgetName = "GitHub";
    }
}

@* HTML based on example at https://codepen.io/vmz/pen/GpKbjm*@
<div class="chartContainer vertical flat">
    <h4><img src="~/images/@widgetImageName" style="width:32px;" />&nbsp; @widgetName - @Model.ProjectName</h4>
    @if (Model.RateLimitHit == true)
    {
        <div style="height:100px">
            <span>API rate limit has been reached, please try again later</span>
        </div>
    }
    else if (Model.PullRequests.Count == 0)
    {
        <div style="height:100px">
            <span>There is no data to display for this period</span>
        </div>
    }
    else
    {
        foreach (PullRequestModel item in Model.PullRequests)
        {
            <a href="@item.Url" target="_blank">
                <div class="progress-bar">
                    <div class="progress-track" title="PR #@item.PullRequestId branch @item.Branch had @item.Commits.Count commits over @item.Duration.TotalHours.ToString("0.0") hours">
                        <div class="progress-fill inProgress">
                            <span>@item.DurationPercent.ToString("0")%</span>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
</div>
<br />
@if (Model.RateLimitHit == false)
{
    <div class="metricSpan">
        @*
            <b>Avg build time:</b> @Model.BuildTime.ToString("0.0") @Model.LeadTimeForChangesMetricDisplayUnit (over last @Model.NumberOfDays days)<br />
            <b>Avg pull request time:</b> @Model.PullRequestTime.ToString("0.0") @Model.LeadTimeForChangesMetricDisplayUnit (over last @Model.NumberOfDays days)<br />
        *@
        <b>Avg Lead time for changes:</b> @Model.LeadTimeForChangesMetricDisplayMetric.ToString("0.0") @Model.LeadTimeForChangesMetricDisplayUnit (over last @Model.NumberOfDays days)<br />
        <b>Avg Lead time for changes ranking:</b> @Model.LeadTimeForChangesMetricDescription
    </div>
}