@using DevOpsMetrics.Service.Models.Common
@model MeanTimeToRestoreModel

@{
    string widgetImageName = "";
    string widgetName = "";
    if (Model.IsAzureDevOps == true)
    {
        widgetImageName = "AzureDevops-icon.png";
        widgetName = "Azure DevOps";
    }
    else
    {
        widgetImageName = "GitHub-icon.png";
        widgetName = "GitHub";
    }
}

@* HTML based on example at https://codepen.io/vmz/pen/GpKbjm*@
<div class="chartContainer vertical flat">
    <h4><img src="~/images/@widgetImageName" style="width:32px;" />&nbsp; @widgetName - @Model.ResourceGroup</h4>
    @if (Model.MeanTimeToRestoreEvents.Count == 0)
    {
        <div style="height:100px">
            <span>There is no data to display for this period</span>
        </div>
    }
    else
    {
        foreach (MeanTimeToRestoreEvent item in Model.MeanTimeToRestoreEvents)
        {
            <a href="@item.Url" target="_blank">
                    <div class="progress-bar">
                        <div class="progress-track" title="Mean time to restore on @item.StartTime.ToString("dd-MMM-yyyy") (ran for @item.MTTRDurationInMinutes.ToString("0.00"))">
                            <div class="progress-fill completed">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>
                </a>
        }
    }
</div>
<br />
@if (Model.MeanTimeToRestoreEvents.Count > 0)
{
    <div class="metricSpan">
        <b>Mean time to restore:</b> @Model.MTTRAverageDurationInMinutes.ToString("0.00") minutes @*@Model.DeploymentsToDisplayUnit (last @Model.NumberOfDays days)<br />*@
       @* <b>Deployment frequency ranking:</b> @Model.DeploymentsPerDayMetricDescription*@
    </div>
}