@using DevOpsMetrics.Core.Models.AzureDevOps
@using DevOpsMetrics.Core.Models.Common
@using DevOpsMetrics.Core.Models.GitHub
@using DevOpsMetrics.Web.Models
@model (List<AzureDevOpsSettings>, List<GitHubSettings>)
@{
    ViewData["Title"] = "Settings";
}

<div class="row">
    <div class="col-md-12">
        <h2>View settings (secrets hidden)</h2>

        <br />
        <h3><img src="~/images/AzureDevops-icon.png" style="width:32px;" alt="Azure DevOps icon" />&nbsp; Azure DevOps</h3>
        <a href="@Url.Action("AddAzureDevOpsSetting","Home")">Add new Azure DevOps setting</a><br />
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Organization
                </th>
                <th>
                    Project
                </th>
                <th>
                    Repository
                </th>
                <th>
                    Delete?
                </th>
            </tr>
            @foreach (AzureDevOpsSettings item in Model.Item1)
            {
                <tr>
                    <td>
                        @item.Organization
                    </td>
                    <td>
                        @item.Project
                    </td>
                    <td>
                        @item.Repository
                    </td>
                    <td>
                        Delete
                    </td>
                </tr>
            }
        </table>

        <h3><img src="~/images/GitHub-icon.png" style="width:32px;" alt="GitHub icon" />&nbsp; GitHub</h3>
        <a href="@Url.Action("AddGitHubSetting","Home")">Add new GitHub setting</a><br />
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Owner
                </th>
                <th>
                    Repo
                </th>
                <th>
                    Delete?
                </th>
            </tr>
            @foreach (GitHubSettings item in Model.Item2)
            {
                <tr>
                    <td>
                        @item.Owner
                    </td>
                    <td>
                        @item.Repo
                    </td>
                    <td>
                        Delete
                    </td>
                </tr>
            }
        </table>

    </div>
</div>